:root {
    --green: #A2CCB6;
    --yellow: #FCEEB5;
    --peach: #EE786E;
    --off-white: #FFFFF4;
    --off-blue: #88c3e6;
    --off-pink: #da8bd6;
    --off-orange: #dab18b;
}

body {
    position: relative;
    padding: 15vh 10vw 5vw 10vw;

    max-width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

/* ----- KEYBOARD ----- */
.double-carac {
    display: block;
    margin-top: -5px;
}

.keyboard {
    width: 786px;
    height: 270px;
    margin: 0 auto;
    border-radius: 10px;
    border: 3px solid black;
    background: black;
}

.row {
    margin-top: 2px;
    overflow: hidden;
}

.key {
    width: 50px;
    height: 50px;
    float: left;
    cursor: pointer;
    background-color: var(--off-white);
    color: #000000;
    line-height: 48px;
    text-align: center;
    margin-left: 2px;
    border-radius: 4px;
}

.key__symbols {
    line-height: 28px;
}

.key__delete {
    width: 100px;
    background-color: var(--green);
}

.key__oneandhalf {
    width: 75px;
    background-color: var(--green);
}

.key__enter {
    width: 112px;
    background-color: var(--green);
}

.key__caps {
    width: 90px;
    background-color: var(--green);
}

.key__shift-left {
    width: 127px;
    background-color: var(--green);
}

.key__spacebar {
    width: 488px;
    background-color: var(--peach);
}

.key__bottom-funct {
    width: 70px;
    background-color: var(--green);
}

.feather {
    margin-top: 10px;
}

.three {
    background-color: var(--yellow);
}

.four {
    background-color: var(--off-blue);
}

.five {
    background-color: var(--off-pink);
}

.six {
    background-color: var(--off-orange);
}

.zero {
    background-color: var(--green);
}

/* ----- END KEYBOARD ----- */

/* ----- HOME HEADER ----- */
.home-header {
    position: fixed;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    display: flex;
    gap: 1vh;
}

.home-header a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    padding: .5vh 2vw;
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #000000;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    transition: 300ms;
}

.home-header a:hover {
    background-color: transparent;
    color: #000000 !important;
}

/* --- END HOME HEADER --- */

/* ----- HOME METRICS ----- */
/* - Faut que je le fasse - */
/* --- END HOME METRICS --- */

/* ----- HOME KEYS ----- */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.home-keys {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    gap: 2px;
}

.keys {
    background-color: #cecece;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    float: left;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- END HOME KEYS --- */

