body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15vh 10vw 5vw 10vw !important;
}

a {
    text-decoration: none;
    color: black;
}

.home-header {
    position: fixed;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 2vw;
    display: flex;
    justify-content: space-between;
}

.home-header .home-buttons {
    display: flex;
    gap: 1vh;
}

h1 {
    font-weight: lighter;
    padding: 0;
    margin: 0;
}

.home-header .home-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    padding: .5vh 2vw;
    background-color: var(--buttons);
    color: var(--background);
    border: 2px solid var(--buttons);
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    transition: 300ms;
    text-decoration: none;
}

.home-header a:hover {
    background-color: transparent;
    border-color: var(--buttons);
    color: var(--buttons) !important;
}

.ranking-container {
    width: 77.5%;
    margin: 50px auto;
    padding: 20px;
}

table {
    padding: 10px 5px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    border-spacing: 10px;
    margin-top: 20px;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-radius: 5px;
}

th {
    background-color: var(--keys);
}

tr:nth-child(2n) td {
    background-color: var(--leaderboard-even);
}

tr:nth-child(2n+1) td {
    background-color: var(--leaderboard-odd);
}


