:root {
    --hue: 223;
    --bg: hsl(var(--hue), 10%, 90%);
    --fg: hsl(var(--hue), 10%, 10%);
    --primary: hsl(var(--hue), 90%, 50%);
    --trans-dur: 0.3s;
    --trans-timing: cubic-bezier(0.76, 0.05, 0.24, 0.95);
    --trans-timing-in: cubic-bezier(0.76, 0.05, 0.86, 0.06);
    --trans-timing-out: cubic-bezier(0.05, 0.76, 0.06, 0.86);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15vh 18vw 5vw 18vw;
}

.home-header {
    position: fixed;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 2vw;
    display: flex;
    justify-content: space-between;
}

.home-header a {
    text-decoration: none;
    color: #000000;
}

.home-header .home-buttons {
    display: flex;
    gap: 1vh;
}

h1 {
    font-weight: lighter;
    padding: 0;
    margin: 0;
    color: var(--fg);
}

.home-header .home-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    padding: .5vh 2vw;
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #000000;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    transition: 300ms;
    text-decoration: none !important;
}

.home-header a:hover {
    background-color: transparent;
    color: #000000 !important;
}

.settings {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding: 1vw;
}

.setting {
    border: 1px solid black;
    border-radius: 5px;
    margin: 1vw 0 0.5vw 0;
    width: 100%;
    padding: 0.5vw 0 0.5vw 1.5vw;

}

body:has(.switch__input:checked) {
    background-color: var(--fg);
    color: var(--bg);
}

body:has(.switch__input:checked) h1 {
    color: var(--bg);
}

.switch {
    margin: auto;
    position: relative;
}

.switch__input {
    position: relative;
    width: 3rem;
    height: 1.5rem;
    display: block;
    background-color: #A2CCB6;
    border-radius: 100px;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color var(--trans-dur) var(--trans-timing),
    box-shadow .15s linear;
}

/*.switch__input:before,*/
.switch__input:after {
    content: "";
    display: block;
    position: absolute;
}

.switch__input:after {
    background-color: #000000;
    border-radius: 50%;
    box-shadow: 0.05em 0.05em 0.05em hsla(var(--hue), 90%, 10%, 0.1);
    /* top: 0.16em; */
    top: 50%;
    left: .25em;
    transform: translateY(-50%);
    width: 1.5em;
    height: 1.5em;
    transition: all var(--trans-dur) var(--trans-timing),
    transform var(--trans-dur) var(--trans-timing);
    z-index: 1;
}

.switch__input:checked {
    background-color: hsl(157, 10%, 41%);
}

.switch__input:checked:after {
    background-color: hsl(0, 0%, 100%);
    left: calc(100% - .25em - 1.5em);
}


