<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback - Statistics</title>
    <link rel="stylesheet" href="/resources/static/statistics.css">
    <link rel="stylesheet" href="/resources/static/global.css">
</head>
<body>
    <header class="home-header">
        <h1>Feedback</h1>
        <div class="home-buttons">
            <a href="/" class="home-home-button">Home</a>
            <a href="/settings" class="home-settings-button">Settings</a>
            <a href="/logout" class="home-logout-button" th:style="|display:${activeSession}|">Log out</a>
        </div>
    </header>
    <div class="all-times-statistic">
        <h2>All Times Statistics</h2>
        <div class="stats-container">
            <p class="statistics">Total Time : <span id="total-time"></span></p>
            <p class="statistics">Total Lessons : <span id="total-lessons"></span></p>
            <p class="statistics">Top Speed (wpm) : <span id="top-speed" ></span></p>
            <p class="statistics">Average Speed (wpm) : <span id="average-speed" th:text="|${avgWPM}|"></span></p>
        </div>
    </div>
    <div class="day-statistic">
        <h2>Day Statistics</h2>
        <div class="stats-container">
            <p class="statistics">Total Time : <span id="day-total-time"></span></p>
            <p class="statistics">Total Lessons : <span id="day-total-lessons" th:text="|${totalSessions}|"></span></p>
            <p class="statistics">Top Speed (wpm) : <span id="day-top-speed" th:text="|${topSpeed}|"></span></p>
            <p class="statistics">Average Speed (wpm) : <span id="day-average-speed" th:text="|${avgWPM}|"></span></p>
        </div>
    </div>
    <div class="graph">
        <h2>Performance Graph</h2>
        <!-- The graph can be added here -->
    </div>
    <script>
        window.addEventListener('scroll', function() {
            var scrollPosition = window.scrollY;

            if (scrollPosition > 0) {
                document.querySelector('.home-header').classList.add('blurry');
            } else {
                document.querySelector('.home-header').classList.remove('blurry');
            }
        });
    </script>
</body>
</html>