<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback - Statistics</title>
    <link rel="stylesheet" href="/resources/static/statistics.css">
    <link rel="stylesheet" href="/resources/static/global.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header class="home-header">
        <a href="/"><h1>Feedback</h1></a>
        <div class="home-buttons">
            <a href="/" class="home-home-button">Home</a>
            <a href="/settings" class="home-settings-button">Settings</a>
            <a href="/logout" class="home-logout-button" th:style="|display:${activeSession}|">Log out</a>
        </div>
    </header>
    <div class="all-times-statistic">
        <h2>All Times Statistics</h2>
        <div class="stats-container">
            <p class="statistics">Total Time<span id="total-time" th:text="|${totalTime}|"></span></p>
            <p class="statistics">Total Lessons<span id="total-lessons" th:text="|${totalSessions}|"></span></p>
            <p class="statistics">Top Speed (wpm)<span id="top-speed" th:text="|${topSpeed}|"></span></p>
            <p class="statistics">Average Speed (wpm)<span id="average-speed" th:text="|${avgWPM}|"></span></p>
            <p class="statistics">Average Accuracy (%)<span id="average-accuracy" th:text="|${avgAccuracy}|"></span></p>
        </div>
    </div>
    <div class="day-statistic">
        <h2>Day Statistics</h2>
        <div class="stats-container">
            <p class="statistics">Total Time<span id="day-total-time" th:text="|${dayTotalTime}|"></span></p>
            <p class="statistics">Total Lessons<span id="day-total-lessons" th:text="|${dayTotalSessions}|"></span></p>
            <p class="statistics">Top Speed (wpm)<span id="day-top-speed" th:text="|${dayTopSpeed}|"></span></p>
            <p class="statistics">Average Speed (wpm)<span id="day-average-speed" th:text="|${dayAvgWPM}|"></span></p>
            <p class="statistics">Average Accuracy (%)<span id="day-average-accuracy" th:text="|${dayAvgAccuracy}|"></span></p>
        </div>
    </div>
    <div class="graph">
        <h2>Performance Graph</h2>
        <!-- The graph can be added here -->
        <canvas id="myChart"></canvas>
    </div>
    <script>
        // Récupérer les données de vitesse et d'exactitude du modèle pour créer le graphique
        const dates = [[${dates}]] ;
        const speeds = [[${speeds}]] ;
        const accuracies = [[${accuracies}]] ;

        // Récupération du contexte du canvas
        const ctx = document.getElementById('myChart').getContext('2d');

        // Création du graphique
        document.addEventListener("DOMContentLoaded", function() {
            const myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    // Utilisez les dates récupérées de la base de données
                    labels: dates,
                    datasets: [
                        {
                            label: 'Speed',
                            data: speeds, // Utilisez les vitesses récupérées de la base de données
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 2,
                            fill: true
                        },
                        {
                            label: 'Accuracy',
                            data: accuracies, // Utilisez les exactitudes récupérées de la base de données
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 2,
                            fill: true
                        }
                    ]
                },
                options: {
                    xAxes: [{
                        type: 'linear',
                        position: 'bottom',
                        ticks: {
                            beginAtZero: true,
                            min: 0
                            // Définissez d'autres options d'axe X ici si nécessaire
                        }
                    }],
                    yAxes: [{
                        type: 'linear',
                        ticks: {
                            beginAtZero: true,
                            min: 0
                            // Définissez d'autres options d'axe Y ici si nécessaire
                        }
                    }]
                }
            });
        });
    </script>
</body>
</html>